div.container {
  padding: 0.1em 0.2em;
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  text-align: center;
}

a.start-button {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-family: arial;
  color: white;
  background-color: rgba(47, 79, 79, 1);
  padding: .5em 2em;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1em;
}

a.start-button:active {
  background-color: rgba(47, 79, 79, 0.5);
}

h1.title {
  font-size: 3em;
  font-family: arial;
  text-shadow: 0 9px 7px #ccc;
}

.img-container {
  text-align: center;
}

.img-container img {
  width:100%;
}

.keyboard {
  width: 100%;
}

.letter {
  width: 14%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 2em;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 1);
  -webkit-transition: all 0.2s;
  color: #333;
  position: relative;
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;

}

.letter:active {
  color: rgb(235,235, 235);
  -webkit-transform: scale3d(1.1,1.1,1);
  z-index: 1;
  background: rgba(35, 35, 35, 1);
}

.word {
  -webkit-transition: all 1s;
  letter-spacing: 0.5em;
  font-size: 1.8em;
  word-break: break-word;
  font-family: monospace;
}

.success-a .letter.letter-a,
.success-b .letter.letter-b,
.success-c .letter.letter-c,
.success-d .letter.letter-d,
.success-e .letter.letter-e,
.success-f .letter.letter-f,
.success-g .letter.letter-g,
.success-h .letter.letter-h,
.success-i .letter.letter-i,
.success-j .letter.letter-j,
.success-k .letter.letter-k,
.success-l .letter.letter-l,
.success-m .letter.letter-m,
.success-n .letter.letter-n,
.success-o .letter.letter-o,
.success-p .letter.letter-p,
.success-q .letter.letter-q,
.success-r .letter.letter-r,
.success-s .letter.letter-s,
.success-t .letter.letter-t,
.success-u .letter.letter-u,
.success-v .letter.letter-v,
.success-w .letter.letter-w,
.success-x .letter.letter-x,
.success-y .letter.letter-y,
.success-z .letter.letter-z {
  color: #eee;
  background-color: #008000;
}

.fail-a .letter.letter-a,
.fail-b .letter.letter-b,
.fail-c .letter.letter-c,
.fail-d .letter.letter-d,
.fail-e .letter.letter-e,
.fail-f .letter.letter-f,
.fail-g .letter.letter-g,
.fail-h .letter.letter-h,
.fail-i .letter.letter-i,
.fail-j .letter.letter-j,
.fail-k .letter.letter-k,
.fail-l .letter.letter-l,
.fail-m .letter.letter-m,
.fail-n .letter.letter-n,
.fail-o .letter.letter-o,
.fail-p .letter.letter-p,
.fail-q .letter.letter-q,
.fail-r .letter.letter-r,
.fail-s .letter.letter-s,
.fail-t .letter.letter-t,
.fail-u .letter.letter-u,
.fail-v .letter.letter-v,
.fail-w .letter.letter-w,
.fail-x .letter.letter-x,
.fail-y .letter.letter-y,
.fail-z .letter.letter-z {
  color: #eee;
  background-color:#C00000;
}
