div.container {
  padding: 0.1em 0.2em;
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  text-align: center;
}

a.start-button {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-family: arial;
  color: white;
  background-color: rgba(47, 79, 79, 1);
  padding: .5em 2em;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1em;
}

a.start-button:active {
  background-color: rgba(47, 79, 79, 0.5);
}

h1.title {
  font-size: 3em;
  font-family: arial;
  text-shadow: 0 9px 7px #ccc;
}

.img-container {
  text-align: center;
}

.img-container img {
  width:100%;
}

.keyboard {
  width: 100%;
}

.letter {
  width: 14%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 2em;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 1);
  -webkit-transition: all 0.2s;
  color: #333;
  position: relative;
  z-index: 0;
  -webkit-appearance: none;
  appearance: none;

}

.letter:active {
  color: rgb(235,235, 235);
  -webkit-transform: scale3d(1.1,1.1,1);
  z-index: 1;
  background: rgba(35, 35, 35, 1);
}

.word {
  -webkit-transition: all 1s;
  letter-spacing: 0.5em;
  font-size: 1.8em;
  word-break: break-word;
  font-family: monospace;
}
